.image{
    float: right;
}
h1{
    float: left;
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    'header'
    'navigation'
    'main';
}
.grid2{
    grid-area: header;
    background-color: aqua;
    float: right;
}
.grid3{
    grid-area: navigation;
    background-color: blue;
}
.grid4{
    grid-area: main;
}
nav{
}
.svg-social{
    width: 50%;
    margin: auto;
    display: block; 
    stroke-width: 2px;
    color: black;
    padding-top: 25%;
}
.svg{
    height: 40px;
    width: 40px;
}
.note{
    height: 40px;
    width: 40px;
    float: right;
    margin-left: -10px;
}
.member{
    width: 40px;
    border-radius: 25px;
    margin-left: 10px;
}
.a{
    float: left;
}
.note:hover{
    transform: rotate(180deg);
}
.widget-container-full, .widget-container-half{
    width: 95vw;
}
.main{
    display: grid;
}
.headline{
    float: left;
    grid-column: 1 / span 1;
}
.main-header-search{
    float: right;
    grid-column: 2 / span 1; 
}
.main-header{
    display: grid;
}
.headerleft{
    grid-column: 1 / span 1;
}
.headerright{
    grid-column: 2 / span 1;
    line-height: 2em;
    padding-top: 1em;
}
.empty{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: green;
    float: right;
    margin-left: -20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
.social-image{
    width: 25%;
    background-color: lightblue;
    border-radius: 50%;
}
.name{
    position: relative;
    top: -1em;
}
.members-text{
    float: left;
}
.recent-text{
    float: left;
}
.social-image:after {
    content: "";
    display: block;
    padding-top: 25%;
}
.toolbar{
    display: grid;
}
.profile-image{
    border-radius: 100px;
    height: 10%;
    width: 10%;
    float: left;
    padding-right: 10px;
}
.members-container, .recent-container{
    border: 5px solid blue;
    border-color: blue;
}
.alert{
    background-color: blue;
    color: white;
}
.alert-banner-close{
    float: right;
    display: grid;
    grid-column: 2 / span 1;
    color: white;
    text-align: right;
     
}
.alert-banner{
    display: grid;
}
.alert-banner p{
    grid-auto-columns: auto;
}
.recent-container a{
    float: right;
    padding-top: 2em;
}
.date{
    float: right;
}
.form-field, .form-area, .button-primary1{
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 5%;
}
.button-primary1, .button-primary2{
    background-color: blue;
    color: white;
}
.on-off{
    float: left;
    padding-bottom: 20%;
}
.light{
    float: left;
    padding-right: 10px;
    padding-bottom: 5%;
}
.button-primary2, .button-disabled{
    margin: auto;
    width: 40%;
}
.settings-button{
    display: block;
    margin: auto;
    text-align: center;
}

@media(min-width:768px){
    .main{
        grid-template-columns: 50%;
    }
    .social{
        grid-auto-columns: auto;
        display: grid;
    }
    .widget-container-full{
        width: 90vw;
    }
    .widget-container-half{
        width: 45vw;
    }
    .traffic, .social{
        grid-column: 1 / span 2;
    }
    .traffic-nav{
        text-align: right;
    }
    .traffic-nav-link{
        padding-left: 5%;
        padding-right: 5%;
    }
    .active{
        background-color: green;
        color: white;
        border-radius: 50%;
        text-align: center;
    }
    .traffic-nav li{
        float: right;
        list-style-type: none;
    }
    .daily, .members, .message, .twitter{
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings, .google{
        grid-column: 2 / span 1;
    }
    .facebook{
        grid-column: 3 / span 1;
    }
    .grid4{
        grid-template-columns: 50%;
    }
    .social-image{
        float: left;
    }
    .grid{
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        'header header'
        'navigation main';
    }
    .svg{
        height: 40px;
        width: 40px;
    }
    .note{
        height: 40px;
        width: 40px;
    }
    .a{
        clear: both;
    }
    
    
}